<div style="overflow-x:auto;">
<table>
    <tr>
        <th></th>
        <th></th>
        <th>Código item</th>
        <th>Data Entrada</th>
        <th>Tipo</th>
        <th>Marca</th>
        <th>Características</th>
        <th>Tamanho</th>
        <th>Cor</th>
        <th>Valor Etiqueta</th>
        <th>Valor Compra</th>
        <th>Valor com Margem</th>
        <th>Preço Sugerido</th>
        
    </tr>
    <tr ng-repeat= "Roupa in vm.ListRoupa">
        <td><button class="btn btn-danger" ng-click="vm.DeletarRoupa(Roupa)">Excluir</button></td>    
        <td><button class="btn btn-primary" ng-click="vm.AlterarRoupa(Roupa)">Alterar</button></td>   
        <td>{{ Roupa._id }}</td>
        <td>{{ Roupa.dataEntrada }}</td>
        <td>{{ Roupa.tipo }}</td>
        <td>{{ Roupa.marca }}</td>
        <td>{{ Roupa.caracteristicas }}</td>
        <td>{{ Roupa.tamanho }}</td>
        <td>{{ Roupa.cor }}</td>
        <td>{{ Roupa.valorEtiqueta }}</td>
        <td>{{ Roupa.valorCompra }}</td>
        <td>{{ Roupa.valorCompra*2 }}</td>
        <td>{{ Roupa.precoSugerido }}</td>
  </tr>
  </table>
</div>